<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Email Sender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="ui container">
        <h1 class="ui center aligned header">Bulk Email Sender</h1>

        <form action="/send_emails" method="POST" enctype="multipart/form-data">
            <div class="ui inverted segment">
                <h3 class="ui left aligned header">Sender</h3>
                <div class="ui form">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="sender_mail_address" placeholder="E-mail address" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="sender_mail_password" placeholder="Password" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>



            <div class="ui blue segment">
                <div class="ui form">
                    <div class="field">
                        <div class="ui floating message">
                            <p>Accepted only CSV file.</p>
                        </div>
                        <input type="file" name="csv_file" accept=".csv" required>
                    </div>
                    <div class="field">
                        <input type="text" name="email_subject" id="" placeholder="Enter your email Subject">
                    </div>
                    <div class="field">
                        <textarea name="email_content" placeholder="Enter your email content...
For example:
------------

Hello {name},
We are excited to inform you that {company} has a special offer for you!

Best regards,
Your Company" rows="12" required></textarea>
                    </div>

                    <div class="field">
                        <input type="file" name="attachments">
                        <p>Attachments to be sent.</p>
                    </div>

                    <button type="submit" class="ui fluid positive button">Send Emails</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>